{% extends 'core/base_admin.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
{% block extrahead %}

{% endblock %}
<header class='mb-5'>
    <div class="row">
        <div class="col-12 col-sm-8 mb-3">
            <h2 class='h2 medium text-blue'>Listado de usuarios activos {{group}}</h2>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <a href="{% url 'list_main' group.id %}" class="button button--gray form-control">Volver</a>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row mt-2">
        <p class='body--normal text-gray'>
            {% lorem 2 b random %}
        </p>
    </div>

</header>
<div class="d-flex flex-column flex-lg-row my-5">
    <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
        <div class="feedback body--small normal"></div>
    </div>
    <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
        {% csrf_token %}
        <input name="search" id="search" type="text" placeholder='Buscar por nombre'/>
        <button type="submit" class="button button--gray">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
        
    <form>       
</div>
<div class="table-container mt-5">
    <table class="table table-user">
        <thead>
            <tr>
                <th width="20%" scope="col">Nombre Usuario</th>
                <th width="30%" scope="col">Nombre Completo</th>
                <th width="30%" scope="col">Correo</th>
                {% if profiles.group_id == 1 %}
                    <th width="15%" scope="col">Funciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in user_list %}
                <tr>
                    <th scope="row">{{s.user_name}}</th>
                    <th scope="row">{{s.name}}</th>
                    <th scope="row">{{s.mail}}</th>
                    {% if profiles.group_id == 1 %}
                        <th scope="row">
                            {% if s.id != request.user.id %}
                                <a href="{% url 'edit_user' s.id %}">
                                    Edita Usuario
                                </a>
                                {% if s.id != request.user.id %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{% url 'user_block' s.id  %}" data-toggle="modal" data-target="#userBlock" data-u_id="{{s.id}}" data-u_name="{{s.name}}"  data-page="{{page}}">
                                        Bloquea Usuario
                                    </a>
                                {% endif %}
                            {% endif %}
                        </th>   
                    {% endif %}                            
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Paginación -->
        {% if paginator.num_pages > 1 %}
            <div class="d-flex">
                <nav aria-label="Page navigation example" class="ms-auto">
                    <ul class="pagination pagination-table">
                        {% if user_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ user_list.previous_page_number}}&search={{search}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                            </li>                        
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if i >= page|sub:2  and i < page|add:3  %}
                                <li class="page-item {% if user_list.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                                </li>                        
                            {% endif %}
                        {% endfor %}
                        {% if user_list.has_next %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ user_list.next_page_number }}&search={{search}}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}  
    <!-- Paginación -->   
{% endblock %}
