{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if request.user.profile.first_session == 'Si' %}
          <h3 class="mb-4">Primer Inicio de sesión</h3>
          <hr/>
          <h3 class="mb-4">Paso 2 de 2 Confirma tu correo</h3>
          <p>Revisa tu correo, si no está correcto por favor cambialo (recuerda que debes usar tu correo institucional) luego presiona Aceptar</p>
          <form action="{% url 'pre_ccheck_profile' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" class="form-control" value="{{request.user.email}}" required>
            <br/>
            <input type="submit" value="Aceptar" class="btn btn-primary form-control">
          </form>
        {% else %}
          <h3 class="mb-4">Contraseña Cambiada Correctamente</h3>
          <p>Puedes volver a tu perfil haciendo click <a href="{% url 'check_profile' %}">Aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}