{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Ver Habilidad</h2>
    </header>
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'ejemplos_habilidad_save' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <div class="mb-0 col-md-12">
                            <label for="category_name" class="form-label">Nombre Habilidad</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="{{habildad_data.nombre}}" placeholder="Nombre Habilidad" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Nivel</label>
                            <input type="text" class="form-control" name="nivel" id="nivel" value="{{habildad_data.nivel}}" placeholder="Nivel" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Editar</button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'ejemplos_list_habilidades' %}" class="button button--gray">Regresa</a>
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}