{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-5'>
        <div class="row">
            <div class="col-12 col-sm-8 mb-3">
                <h2 class='h2 medium text-blue'>DASHBOARD</h2>
            </div>
        </div>
    </header>
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mr-2" style="width: 100%;">
                    <h5 class="card-header">Habilidades</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-7 text-center" style="font-size: 50px">
                                {{habilidades_count}}
                            </div>
                            <div class="col-sm-5 text-center">
                                <span class="mt-2 material-icons-outlined" style="font-size: 50px">
                                    star_half
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text mb-2">Texto</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="#" class="btn btn-primary">Detalle</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4">    
                <div class="card mr-2" style="width: 100%;">
                    <h5 class="card-header">Héroes</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-7 text-center" style="font-size: 50px">
                                {{heroes_count}}
                            </div>
                            <div class="col-sm-5 text-center">
                                <span class="mt-2 material-icons-outlined" style="font-size: 50px">
                                    star_half
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text mb-2">Texto</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="#" class="btn btn-primary">Detalle</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="card mr-2" style="width: 100%;">
                    <h5 class="card-header">Rate</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-7 text-center" style="font-size: 50px">
                                {{rate_heroes_habilidad}}%
                            </div>
                            <div class="col-sm-5 text-center">
                                <span class="mt-2 material-icons-outlined" style="font-size: 50px">
                                    star_half
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text mb-2">Texto</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="#" class="btn btn-primary">Detalle</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">    
                <div class="card mr-2" style="width: 100%;">
                    <h5 class="card-header">Gráfico 1</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <canvas id="chart_one"></canvas>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text mb-2">Texto</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="#" class="btn btn-primary">Detalle</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-sm-6">    
                <div class="card mr-2" style="width: 100%;">
                    <h5 class="card-header">Gráfico 2</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <canvas id="chart_two"></canvas>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text mb-2">Texto</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="#" class="btn btn-primary">Detalle</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    {% block extrajs %}    
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script>
            //Grafico 1
            const $chart_one = document.querySelector("#chart_one");
            new Chart($chart_one, {
                type: 'doughnut',
                data: {
                    labels: {{data_label|safe}},
                    datasets: [{
                        label: 'Niveles',
                        data: {{data_set|safe}},
                        backgroundColor: {{data_color|safe}},
                        hoverOffset: 0
                    }]
                },
                options: {
                    progress_label: {{data_rate|safe}},
                    cutoutPercentage: 50,
                    responsive: true,
                    legend: {
                        display: false,
                    },  
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },     
                            
                },
                plugins: [{
                    id: 'total',
                    beforeDraw: function(chart) {
                        const width = chart.chart.width;
                        const height = chart.chart.height;
                        const ctx = chart.chart.ctx;
                        ctx.restore();
                        const fontSize = (height / 114).toFixed(2);
                        ctx.font = fontSize + "em sans-serif";
                        ctx.textBaseline = 'middle';
                        var total =  chart.options.progress_label+'%';
                        const text = total;
                        const textX = Math.round((width - ctx.measureText(text).width) / 2);
                        const textY = height / 2;
                        ctx.fillText(text, textX, textY);
                        ctx.save();
                    }
                }],
            });

            //Grafico 2
            const $chart_two = document.querySelector("#chart_two");
            new Chart($chart_two, {
                type: 'doughnut',
                data: {
                    labels: {{data_label_todos_niveles|safe}},
                    datasets: [{
                        label: 'Niveles',
                        data: {{data_set_todos_niveles|safe}},
                        backgroundColor: {{data_color|safe}},
                        hoverOffset: 0
                    }]
                },
                options: {
                    progress_label: {{data_rate|safe}},
                    cutoutPercentage: 50,
                    responsive: true,
                    legend: {
                        display: false,
                    },  
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },     
                            
                },
                plugins: [{
                    id: 'total',
                    beforeDraw: function(chart) {
                        const width = chart.chart.width;
                        const height = chart.chart.height;
                        const ctx = chart.chart.ctx;
                        ctx.restore();
                        const fontSize = (height / 114).toFixed(2);
                        ctx.font = fontSize + "em sans-serif";
                        ctx.textBaseline = 'middle';
                        var total =  chart.options.progress_label+'%';
                        const text = total;
                        const textX = Math.round((width - ctx.measureText(text).width) / 2);
                        const textY = height / 2;
                        ctx.fillText(text, textX, textY);
                        ctx.save();
                    }
                }],
            });

            //Fin graficos   
        </script>
    {% endblock extrajs %}        
{% endblock %}